In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/mkmy7/OneDrive/바탕 화면/Earthquake_DA/Earthquake-Korea-DataAnalysis/dataset/최종데이터셋/대책현황/원자력발전소/국내원자력발전소_발전량.csv')
df

         호기    년도     발전량(MWh)  이용률(퍼센트)
0     고리1호기  2014   4538268.00      85.2
1     고리2호기  2014   5449769.00      91.5
2     고리3호기  2014   7622062.00      83.5
3     고리4호기  2014   7878262.00      86.3
4    신고리1호기  2014   7791248.00      84.8
..      ...   ...          ...       ...
238   한울3호기  2023   7229283.00      78.5
239   한울4호기  2023   6450681.00      70.0
240   한울5호기  2023   7807577.00      85.0
241   한울6호기  2023   7620771.00      82.9
242  신한울1호기  2023  12975769.63     101.8

[243 rows x 4 columns]

In [3]:
df.to_csv('국내원자력발전소_발전량_EDA.csv', index=False, encoding='utf-8')